* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: #878787; */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.header__title {
  font-size: 40px;
  color: #701111;
  text-align: center;
  width: 50%;
}

.header__perfil {
  width: 200px;
  height: 250px;
}

.perfil__foto {
  width: 200px;
  height: 250px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.container__habilidades {
  width: 90%;
  margin: 0 auto;
}

.habilidades {
  margin-top: 10px;
  font-size: 30px;
}

.habilidades__title {
  display: flex;
  justify-content: start;
}

.habilidades__paragraph {
  margin-top: 10px;
  font-size: 20px;
  text-align: start;
  line-height: 1.5;
}

.container__icon {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.icotecnologias {
  width: 80px;
  height: 80px;
  padding: 5px;
}

@media (max-width: 768px) {
  /* .container {
    transform: translateY(0) !important;
    transition: transform 0.3s ease;
  } */

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__title {
    font-size: 30px;
    color: #701111;
    text-align: center;
    width: 50%;
  }

  .header__perfil {
    width: 150px;
    height: 200px;
  }

  .perfil__foto {
    width: 150px;
    height: 200px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .habilidades {
    margin-top: 10px;
    font-size: 30px;
  }

  .habilidades__title {
    display: flex;
    justify-content: start;
  }

  .habilidades__paragraph {
    margin-top: 10px;
    font-size: 23px;
    text-align: start;
    line-height: 1.5;
  }

  .container__icon {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .icotecnologias {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
}

@media (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .header__title {
    font-size: 25px;
    color: #701111;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .header__perfil {
    width: 130px;
    height: 170px;
  }

  .perfil__foto {
    width: 130px;
    height: 170px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .habilidades {
    margin-top: 10px;
    font-size: 30px;
  }

  .habilidades__title {
    display: flex;
    justify-content: start;
  }

  .habilidades__paragraph {
    margin-top: 10px;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
  }

  .container__icon {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .icotecnologias {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}
