* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.profile__title__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title__image {
  width: 200px;
  height: 250px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px;
}

.title_container {
  width: 50%;
}

.image__title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  background-color: rgba(24, 87, 87, 0.42);
  border-radius: 3px;
}

.icons_container {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}

.network_icon {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.skills__container {
  width: 90%;
  margin: 0 auto;
}

.skills__title {
  margin-top: 10px;
  font-size: 30px;
}

.skills__paragraph {
  margin-top: 10px;
  font-size: 23px;
  text-align: start;
  line-height: 1.5;
}

hr {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .title__image {
    width: 150px;
    height: 200px;
  }

  .title_container {
    width: 100%;
  }

  .image__title {
    font-size: 30px;
  }

  .icons_container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .profile__title__container {
    display: flex;
    flex-direction: column;
  }

  .title__image {
    width: 130px;
    height: 170px;
  }

  .image__title {
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
  }
}
