* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: var(--background-color-container);
  padding-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dark_mode .container {
  background-color: var(--background-color-container);
}

.contact__title__container {
  background-color: var(--background-color-title);
  border-radius: 3px;
  animation: title 1.5s;
}

.dark_mode .contact__title__container {
  background-color: var(--background-color-title);
}

@keyframes title {
  from {
    transform: scale(10%);
  }
}

.contact__title {
  font-size: 30px;
  margin-left: 10px;
  color: var(--background-white);
  margin-bottom: 20px;
}

.contact__form__container {
  background-color: var(--background-blue);
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 15px;
  max-width: 400px;
  border-radius: 3px;
  box-shadow: 0 0 13px;
}

.input__container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

label {
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--background-white);
}

input {
  font-size: 25px;
  border-radius: 3px;
  background-color: var(--input-background);
}

.dark_mode input {
  background-color: var(--input-background);
}

textarea {
  font-size: 20px;
  border-radius: 3px;
  background-color: var(--input-background);
}

.dark_mode textarea {
  background-color: var(--input-background);
}

.message__input {
  height: 100px;
}

.button {
  background-color: var(--background-color-title);
  font-size: 25px;
  font-family: inherit;
  color: #fff;
  border-radius: 3px;
}

.dark_mode .button {
  background-color: var(--background-color-title);
}

h4 {
  color: var(--error-text);
  font-size: 25px;
}

@media (max-width: 768px) {
  .contact__form__container {
    border-radius: 3px 10px 3px 10px;
  }

  input {
    border-radius: 3px 10px 3px 10px;
  }

  textarea {
    border-radius: 3px 10px 3px 10px;
  }

  .button {
    border-radius: 3px 10px 3px 10px;
  }
}
