* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}

.container__title {
  background-color: steelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 3px;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  padding: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
  }

  .hamburger {
    display: flex;
  }

  .container__title {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
    border-top-right-radius: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: steelblue;
    position: absolute;
    top: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 3px;
  }

  .icon {
    color: rgb(212, 53, 25);
  }

  .menu__item {
    margin: 5px;
  }

  .menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .show {
    display: flex;
  }
}
