.container {
  background-color: rgb(21, 21, 18);
  width: 98%;
  margin: 0 auto;
}

.title_container {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}

.title_container p {
  color: #fff;
  font-size: 25px;
}

.paragraph_container {
  margin-top: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.paragraph_container p {
  font-size: 20px;
  text-align: justify;
  padding: 5px;
  color: #fff;
}

@media (max-width: 768px) {
  .introductory_paragraph {
    text-align: justify !important;
  }

  .paragraph_container p {
    text-align: start;
  }
}
