* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: red;
}

/* .container__proyect {
  display: flex;
  flex-direction: column;
} */

/* .container__title {
} */

/* .title {
  text-align: center;
  font-size: 60px;
} */

.container__images {
  margin-top: 50px;
  background-color: green;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container__image {
  border-radius: 1em;
  background-color: steelblue;
  position: relative;
  box-shadow: 0 0 13px;
  width: 400px;
}

.image {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 1em 1em 0 0;
}

/* .container__image:hover .image {
  opacity: 0.5;
} */

/* .image__text {
  border-radius: 0 0 1em 1em;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
} */

/* .image__overlay {
  opacity: 0;
  position: absolute;
  bottom: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0.5s;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .container__image:hover .image__overlay {
  transform: translateY(0);
  height: 110px;
  opacity: 1;
} */

/* .link {
  text-decoration: none;
  color: #fff;
  height: auto;
  font-size: 2.5rem;
  transition: transform 2.5s;
} */

/* .container__image:hover .link {
  transform: scale(3);
}
 */
