@import "./Variables.module.css";

* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--background-color-container);
  padding-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.dark_mode .container {
  background-color: var(--background-color-container);
}

.technologies__title__container {
  background-color: var(--background-color-title);
  border-radius: 3px;
  animation: title 1.5s;
}

.dark_mode .technologies__title__container {
  background-color: var(--background-color-title);
}

@keyframes title {
  from {
    transform: scale(10%);
  }
}

.technologies__title {
  font-size: 30px;
  margin-left: 10px;
  color: var(--background-white);
}

.technologies__icons__container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.technologies__icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  animation: icon 1.5s;
}

@keyframes icon {
  from {
    transform: rotate(360deg);
  }
}

.technologies__icon {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.technologies__text {
  color: var(--black-text-color);
}

.dark_mode .technologies__text {
  color: var(--black-text-color);
}

.technologies__icon__container:hover .technologies__icon {
  transition: 1.5s;
  transform: scale(130%);
  border-radius: 10%;
  box-shadow: 0px 0px 13px var(--box-shadow-background);
  background: var(--background-color-title);
}

.dark_mode .technologies__icon__container:hover .technologies__icon {
  box-shadow: 0px 0px 13px var(--box-shadow-background);
  background: var(--background-color-title);
}

@media (max-width: 768px) {
  .technologies__title__container {
    border-radius: 3px 3px 3px 10px;
  }

  .technologies__title {
    text-align: center;
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  .technologies__icon {
    width: 50px;
    height: 50px;
  }
}
