* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.container__technologies {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__title {
  margin-top: 10px;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: start;
}

.container__icons {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  padding: 5px;
}

@media (max-width: 768px) {
  .container__technologies {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__title {
    margin-top: 10px;
    font-size: 30px;
  }

  .title {
    display: flex;
    justify-content: start;
  }

  .container__icons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .icon {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
}

@media (max-width: 425px) {
  .container__title {
    margin-top: 10px;
    font-size: 30px;
  }

  .title {
    display: flex;
    justify-content: start;
  }

  .container__icons {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .icon {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}
