:root {
  /* Colores fijos */
  --background-white: #fff;
  --background-blue: #025464;
  --background-orange: #ff731d;
  --box-shadow-black: #121212;
  --error-text: rgb(61, 18, 18);
  --image-overlay-backgraund: rgba(0, 0, 0, 0.508);

  /* Colores dinamicos para Dark Mode */
  --background-color-body: #fff;
  --background-color-container: #fff;
  --background-color-title: #ff731d;
  --box-shadow-background: #ff731d;
  --black-text-color: black;
  --input-background: #fff;
}

.dark_mode {
  /* Colores dinamicos para Dark Mode */
  --background-color-body: black;
  --background-color-container: #1a1919;
  --background-color-title: #b94700bf;
  --box-shadow-background: #b94700bf;
  --black-text-color: #fff;
  --input-background: #262525;
}
